---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";

---

<section class="space-y-6 py-12 sm:py-20 lg:py-20">
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <a
      href="https://twitter.com/miickasmt"
      class={cn(
        buttonVariants({ variant: "outline", size: "sm", rounded: "full" }),
        "px-4"
      )}
      target="_blank"
    >
      <span class="mr-3">🎉</span> Introducing on{" "}
      <Icon name="twitter" class="ml-2 size-3.5" />
    </a>

    <h1
      class="text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
     Submit Forms Effortlessly.{" "}
      <span class="text-gradient_indigo-purple font-extrabold">
         No Coding Required.
      </span>
    </h1>

    <p
      class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8"
    >
      Effortlessly manage and submit forms without any backend knowledge. Perfect for freelancers, agencies, and teams looking to streamline their workflow and collaborate seamlessly.
    </p>

    <div class="flex justify-center space-x-2 md:space-x-4">
      <div class="flex flex-col items-center gap-2">
        <a
        href="/pricing"
        class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2 py-8 px-10 text-xl")}
      >
        <span>Get started for free</span>
        <Icon name="lucide:arrow-right" class="size-4" />
      </a>
      <p>no credit card required</p>
      </div>
      
      
    </div>
  </div>
</section>
